
       
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for future updates...</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hello, I am Amarjot Singh, a student pursuing Computer Programming with a specialization in web technologies. My aim is to excel as a skilled web developer, adept at creating user-friendly and dynamic websites. I have a keen interest in developing front-end applications and focusing on designing experiences that prioritize the needs of the users. Keep an eye out for more updates on my progress in this exciting journey!





                        </p>
                    </article>
                </section>
            </div>
        </div>

      